mixin news-article(id, date, title, imgPath)
	-
		const imgAlt = `Article ${id}`;
		const imgLg = `${imgPath}-lg.jpg`;
		const imgMd = `${imgPath}-md.jpg`;
		const imgSm = `${imgPath}-sm.jpg`;

	.swiper-slide
		article.new
			.new__header
				.new__img
					picture
						source(srcset=imgSm, media="(max-width: 788px)")
						source(srcset=imgMd, media="(max-width: 1250px)")
						img(src=imgLg, alt=imgLgPath)
				.new__date 
					p= date
			.new__title
				h4 !{title}
			a(href="javascript:;", data-fancybox="gallery", data-src=id).new__link Читать полностью
