mixin news-article(id, date, title, hidden)
	-
		const imgPath = `img/news/article-image-${id}.jpg`;
		const imgAlt = `Article ${id}`;

	article.new
		.new__header
			img(src=imgPath, alt=imgAlt).new__foto
			.new__date 
				p= date
		.new__content
			p= title
		a(href="#!").new__link Читать полностью
