mixin news-article(id, date, title, imgLgPath, imgSmPath)
	-
		const imgAlt = `Article ${id}`;

	.swiper-slide
		article.new
			.new__header
				.new__img
					picture
						source(srcset=imgSmPath, media="(max-width: 788px)")
						img(src=imgLgPath, alt=imgLgPath)
				.new__date 
					p= date
			.new__title
				h4 !{title}
			a(href="javascript:;", data-fancybox="gallery", data-src=id).new__link Читать полностью
